#problems .chart{
float:left;
margin-right:20px;
}

#problems .quote-numbers{
margin:auto;	
}

@media (max-width: 1250px) and (min-width: 1000px) {	
	#problems .destitute .column-left{
	width:32%;
	}

	#problems .destitute .column-right{
	width:65%;
	}

}

@media (max-width: 640px){	
	#problems .chart{
	float:none;
	width:100%;
	}
	
		#problems .chart img{
		display:block;
		margin:auto;	
		}
	
}